
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form id="createCategory">

    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <button type="button" id="saveBtn">Save</button>

</form>

<script>
    $("#saveBtn").click(function () {

        $.ajax({

            type: 'POST',
            url: '/Category/Create',
            data: $("#createCategory").serialize()

        })
            .done(function (responce) {

                $("#tableContainer").html(responce)
                $("#actionContaier").html("")

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                alert("fail");
            });

    });
</script>